.header{
    z-index: 1000;
}

.header .navigation{
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 0;
    height: 8rem;
}


/* .header .navigation:hover{
    background-color: #d6cec4;
    background-color: rgba(0,0,0,0.92);
} */

.header .navigation .top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .navigation .top input{
    border: none;
    outline: none;
    width: 30vw;
}

.header .navigation .top .search{
    background-color: white;
    border: 2px black solid;
    border-radius: 20px;
    padding: 0.5rem;
}

.header .navigation .top .search .fa-search{
    font-size: 1.3rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.header .navigation .top .search .fa-search:hover{
    color: rgba(0, 0, 0, 1);

}

.header .navigation .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo{
    margin: 1rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.header .nav-links a{
    margin: 0 1.5rem;
    color: rgba(255, 255, 255, .5);
    transition: 0.5s;
    font-size: 1.2rem;
}

.header .nav-links a:hover{
    color: rgba(255, 255, 255, 1);
    border-bottom: white solid 1px;
    padding-bottom: .1rem;
    
}

.header .icons{
    margin: 1rem;
    font-size: 1.3rem;
}

.header .icons .fas{
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    margin: 0.2rem
}

#menu-bars{
    display: none;
}

.header .icons .fas:hover{
    color: rgba(255, 255, 255, 1);

}


@media(max-width: 990px){
    #menu-bars{
        display: initial;
    }

    .header .navigation .top{
        justify-content: space-between;
    }

    .header .navigation .top .logo{
        font-size: 3rem;
    }

    .header .navigation .top .icons .fas{
        font-size: 3rem;
    }

    .header .nav-links a{
        margin-top: 2rem;
        display: block;
        font-size: 2rem;
    }

    .header .nav-links{
        background-color: black;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 25rem;
        text-align: left;
        z-index: 2;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .nav-links.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        
    }
}

@media(max-width: 440px){
    
}